* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }
body {
  margin: px;
  background-color: #ffb3d9;
}
#navigation{
  background-color: #ffb3d9;
}

#contenedorProductos {
  background-color: #ffb3d9;
}
.productoCard {
  max-width: 20%;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: palevioletred;
  border-radius: 5px;
  box-shadow: black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
margin-top: 150px;
background-color: #ffb3d9;
}
.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.botonAgregar {
  border-radius: 7px;
  background-color: pink;
}
.div{
  margin: 300px;
}
.carrito-contenedor{
  margin: 8px;
  width: 30px;
}
.panel {
  margin: 40px;
}
.verCarrito {
  display: block;
}